[database]
user=musicbrainz_user
name=musicbrainz_db
host=localhost
port=5432

[testdatabase]
user=musicbrainz
name=musicbrainz_test
host=mbs_db_test
port=5432

[listen]
address=localhost
port=8080

[s3]
prefix=//archive.org/download
