[database]
user=musicbrainz
name=musicbrainz_test
host=mbs_db_test
port=5432

[testdatabase]
user=musicbrainz
name=musicbrainz_test
host=mbs_db_test
port=5432

[listen]
address=0.0.0.0
port=8081

[s3]
prefix=//archive.org/download
