[database]
user=musicbrainz_user
name=musicbrainz_db
host=localhost
port=5432
musicbrainz_schema=musicbrainz
coverart_schema=cover_art_archive

[listen]
address=localhost
port=8080

[s3]
prefix=http://s3.us.archive.org
