certifi==2025.6.15
cffi==1.17.1
greenlet==3.2.3
MarkupSafe==3.0.2
psycopg==3.2.9
psycopg-binary==3.2.9
pycparser==2.22
sentry-sdk==2.30.0
SQLAlchemy==2.0.41
typing_extensions==4.14.0
urllib3==2.6.3
uWSGI==2.0.30
Werkzeug==3.1.5
