# Docker Compose file for development
version: "2"
services:

  artwork-redirect:
    build:
      context: ..
      dockerfile: ./docker/Dockerfile.dev
    depends_on:
      - mbs_db_test
    ports:
      - "8080:8081"

  mbs_db_test:
    image: metabrainz/musicbrainz-test-database:schema-change-2017-q2
